.container {
  width: 1460px;
  margin-left: 230px;
  margin-right: 230px;
}
.page-header .container {
  padding-bottom: 30px;
  display: flex;
  padding-top: 38px;
}

.page-header {
  background-color: #171717;
  width: 1920px;
}

.phone-number {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 29px;
  margin-left: 818px;
  margin-right: 39px;
}
.extra-color {
  color: #d6af76;
}
.phone-call {
  color: #e4b564;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 1px solid #e4b564;
  text-decoration: none;
  padding: 10px 25px 10px 26px;
}
.page-main .container {
  padding-top: 30px;
}
.page-main {
  color: #ffffff;
}
.section-system {
  background-color: #171717;
  padding-bottom: 80px;
  width: 1920px;
}
.parallax-cafe {
  background: url(./img/parallax-cafe.jpeg);
  background-attachment: fixed;
}
.system-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 30px;
}
.system-discription {
  width: 1182px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.ennumeration-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 233.5px);
  grid-template-rows: 468px 468px;
  grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
  gap: 25px;
}
.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.list-item1 {
  grid-area: item1;
  background-color: #634f2c;
}
.list-item2 {
  grid-area: item2;
  background-color: #b4a385;
  padding-left: 44px;
  padding-right: 44px;
}
.list-item3 {
  grid-area: item3;
  background-color: #e4b564;
}
.list-item4 {
  grid-area: item4;
  background-color: #635a4a;
}
.list-item5 {
  grid-area: item5;
  background-color: #b08c4d;
}
.section-technology {
  padding-top: 80px;
  background-color: #171717;
  padding-bottom: 191px;
  width: 1920px;
}
.parallax-town {
  background: url(./img/parallaxtown.jpeg);
  background-attachment: fixed;
}

.technology-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}
.technology-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 900px;
}
.technology-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  width: 302px;
}
.kamaz-655155 {
  padding: 44px 113px 219px 52px;
  background-color: #0e0e0e;
  margin-right: 30px;
  margin-bottom: 24px;
}
.additional-qualities {
  font-weight: 700;
}
.kamaz-3572 {
  padding: 44px 113px 345px 52px;
  background-color: #242424;
  margin-bottom: 33px;
  margin-right: 29px;
}
.backhoe-loader {
  padding: 44px 117px 186px 48px;
  background-color: #1f1f1f;
  margin-bottom: 26px;
}
.loader {
  padding: 56px 113px 479px 52px;
  background-color: #1f1f1f;
}
.backhoe {
  padding: 47px 113px 333px 52px;
  background-color: #e4b564;
}
.kamaz-kmu {
  padding: 44px 117px 244px 48px;
  background-color: #0e0e0e;
  margin-bottom: 26px;
}
.slider {
  padding: 44px 113px 208px 48px;
  background-color: #0a0909;
}

.section-personal {
  background-color: #0e0e0e;
  width: 1920px;
  padding-bottom: 238px;
}
.parallax-cafe {
  background: url(./img/parallax-cafe.jpeg);
  background-attachment: fixed;
}
.section-personal .container {
  padding-top: 170px;
  position: relative;
}
.personal-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin: 0;
  padding-bottom: 72px;
}

.all-projects {
  position: absolute;
  right: 0;
  top: 155px;
}
.projects-link {
  border: 1px solid #e4b564;
  padding: 10px 40px 10px 40px;
}
.projects-link {
  text-decoration: none;
  color: #e4b564;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.personal-list {
  display: grid;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: 390px 390px;
  padding: 0;
}
.personal-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.personal-eid {
  background-color: #634f2c;
}

.personal-mavis {
  position: relative;
  background: rgba(232, 210, 171, 0.76);
}
.image-circle {
  position: absolute;
  top: 60px;
}
.image-mavis {
  position: absolute;
  top: 120px;
}
.text-mavis {
  width: 326px;
  text-align: center;
  position: absolute;
  top: 190px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.personal-arsenal1 {
  background-color: #e4b564;
}
.personal-arsenal2 {
  background-color: #635a4a;
}
.personal-setgroup {
  background-color: #b08c4d;
}
